#total{
    margin: 0 auto;
}
#board{
    background: bisque;
    margin: 0 auto;
    width: 400px;
    overflow: hidden;
    border-radius: 5px;
}
#r0,#r1,#r2,#r3{
    float: left;
}
.rc{
    height: 90px;
    width: 90px;
    margin: 5px;
    background: white;
    border-radius: 6px;
    text-align: center;
    vertical-align:middle;
    font-size: 300%;
}



b{
    color: #a0522d;


}
button{
    width: 50px;
    height: 50px;
    border-width: 0px;
    border-radius: 3px;
    background: burlywood;
    cursor: pointer;
    outline: none;
    font-family: Microsoft YaHei;
    color: white;
    font-size: 18px;
}
button:hover{
    color: bisque;
    background: tan;
}
#nav{
    width:200px;
    margin: 0 auto;
}


#restart-div,#mark,#retreat-div{

    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background: burlywood;
    border-radius: 3px;
    width: 60px;
    height: 60px;


}

#score{
    font-size: 20px;
    font-weight: normal;
}
#ans{
    margin: 0 auto;
    font-size: 25px;
}

.color-0{
    background: white;
}

.color-2{
    background: #fdfde6;
}
.color-4{

    background: #ffefd5;
}
.color-8{
    background: #ffdead;
}
.color-16{
    background: #deb887;
}
.color-32{
    background: #cd853f;
}
.color-64{
    background: #ffa550;
}
.color-128{
    background:#ffd700;
}
.color-256{
    background: #ffff00;
}
.color-512{
    background: #f08080;
}
.color-1024{
    background: #ff6347;
}
.color-2048{
    background: #800000;

}
.big b{
    font-size: 20%;
}

#gameover-div{
    position: absolute;
    z-index: 100;
    margin-left: 35%;
    margin-top: -300px;
    width: 400px;
    text-align: center;

}
#gameover-div{
    visibility: hidden;
}
#gameover,#final-score{
    font-size: 60px;

}
#try-again {
    font-size: 30px;
    color: white;
    font-weight: normal;
    background: #8f7a66;
    border-radius: 3px;
    cursor: pointer;
}
#try-again:hover{
    background: tan;
}